body {
  background-color: #f08f1e;

}

.caixa {
  background-color: #fe9a55;
  color: #fff !important;
}


.headTitle {
  background-color: #f08f1e;
}


.containerP {
  background-color: #ef7f2d;
  color: #fff !important;
}



b {
  color: #fff;
}

tr td,
tr th {
  border: none;
  color: #fff;
  font-size: 15px;
}

thead,
tbody {
  border: none;
}

nav {
  color: #fff;
}

th {
  font-weight: normal;
}

.warning {
  background-color: #ef7f2d;
}

.bold-input {
  background-color: #ef7f2d;
}


.x-input {
  border: none;
  height: 48px;
}

.mt-13 {
  margin-top: 13px;
}

.title-p {
  color: #000;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item {
  color: #fff;
}

.nav-item:hover {
  background-color: #ef7f2d;
  color: white;
}

.btn-salvar {
  background-color: #ef7f2d;
  color: #fff;
}